In [14]:
import os
import pandas as pd
import numpy as np

np.set_printoptions(suppress=True,   precision=20,  threshold=10,  linewidth=40) # np禁止科学计数法显示
'''
suppress=True：这个选项禁用科学计数法的显示，即浮点数会以小数形式而非科学记数法形式显示。
precision=20：设置浮点数的打印精度为20位小数。这意味着当你打印一个浮点数时，它会显示最多20位小数。
threshold=10：这个参数设置数组的打印输出阈值。当数组元素总数超过这个阈值时，NumPy会省略中间的部分，只显示头尾元素。
设置为10意味着当数组元素数量超过10时才会触发这种简略显示。
linewidth=40：这决定了每行输出的字符数。此设置使得每行的输出宽度限制在40个字符以内。
'''
pd.set_option('display.float_format',lambda x : '%.2f' % x) # pd禁止科学计数法显示

'''
这段代码通过一个lambda函数设置了Pandas显示浮点数的格式。'%.2f' % x指定了浮点数显示为小数点后两位的格式。这意味着所有的浮点数都将以固定的小数点格式显示，而不是科学计数法。
'''

"\n这段代码通过一个lambda函数设置了Pandas显示浮点数的格式。'%.2f' % x指定了浮点数显示为小数点后两位的格式。这意味着所有的浮点数都将以固定的小数点格式显示，而不是科学计数法。\n"

In [15]:
df_all = pd.read_csv(r'test_health.csv') # 读取数据，根据你自己文件地址编写

df_all.drop_duplicates(inplace=True) # 使用drop_duplicates去重，inplace=True对原数据集进行替换
'''
df_all.drop_duplicates() 是一个Pandas DataFrame的方法，用于删除数据框中的重复行。默认情况下，这个方法会检查所列，寻找完全相同的行，并只保留首次出现的行，去除之后出现的重复行。
inplace=True 参数表示直接在原数据框 df_all 上进行修改，而不是返回一个新的数据框。如果不设置 inplace=True，那么原数据框不会改变，而是返回一个新的已去重的数据框。
'''
df_all.reset_index(drop=True, inplace=True) # 删除数据后，恢复索引
'''
在去除重复行之后，数据框 df_all 中的索引可能会变得不连续。例如，如果删除了第3行，原先的索引序列 0, 1, 2, 3, 4, ... 会变成 0, 1, 2, 4, ...，这时第三行的索引（即3）就会缺失。
df_all.reset_index(drop=True) 方法用于重置数据框的索引。drop=True 参数表示放弃旧的索引值，如果不设置 drop=True，那么旧的索引会被添加为数据框的一个新列。
同样地，inplace=True 表示直接在原数据框上修改，而不是返回一个新的数据框。
'''
df_all

,cus_no,loan_rct_end_date,baseline value,accelerations,fetal_movement,uterine_contractions,light_decelerations,severe_decelerations,prolongued_decelerations,abnormal_short_term_variability,...,histogram_median,histogram_variance,histogram_tendency,sex,agetype,reside_type,employ,test1,test2,end_pay_off_flag
0,c_001,2022/4/9,120,0.00,0.00,0.00,0.00,0.00,0.00,73,...,121,73,1,woman,old,B,y,0.39301804,0.64,1
1,c_002,2022/4/25,132,0.01,0.00,0.01,0.00,0.00,0.00,17,...,140,12,0,woman,old,C,n,0.245573059,0.19,0
2,c_003,2022/4/27,133,NaN,0.00,NaN,0.00,0.00,0.00,16,...,138,13,0,woman,yong,C,y,0.126393521,0.55,0
3,c_004,2022/3/31,134,0.00,0.00,0.01,0.00,0.00,0.00,16,...,137,13,1,woman,old,B,n,0.860977844,0.62,0
4,c_005,2022/4/22,132,0.01,0.00,0.01,0.00,0.00,0.00,16,...,138,11,1,man,old,A,n,0.803580572,0.36,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,c_2123,2022/3/27,140,NaN,0.00,0.01,0.00,0.00,0.00,78,...,151,3,1,man,Middle-aged,D,n,0.800221878,0.60,1
2123,c_2124,2022/4/24,140,NaN,0.00,0.01,0.00,0.00,0.00,79,...,152,4,1,man,old,B,n,0.068765741,0.55,1
2124,c_2125,2022/3/23,140,NaN,0.00,0.01,0.00,0.00,0.00,78,...,151,4,1,man,yong,D,n,unknown,0.42,1
2125,c_2126,2022/4/4,142,NaN,0.00,0.01,0.00,0.00,0.00,74,...,145,1,0,man,yong,D,n,0.942651508,0.92,0
2126,c_2127,2022/5/12,142,NaN,0.00,0.01,0.00,0.00,0.00,74,...,145,1,0,man,yong,D,n,Na,0.92,0

In [16]:
df_all.info()
# df_all.shape #(2127, 30)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 30 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   cus_no                                                  2127 non-null   object
 1   loan_rct_end_date                                       2127 non-null   object
 2   baseline value                                          2127 non-null   int64
 3   accelerations                                           1357 non-null   float64
 4   fetal_movement                                          2127 non-null   float64
 5   uterine_contractions                                    2126 non-null   float64
 6   light_decelerations                                     2127 non-null   float64
 7   severe_decelerations                                    2127 non-null   float64
 8   prolongued_decelerations                                2127 non-null   float64
 9   abnormal_short_term_variability                         2127 non-null   int64
 10  mean_value_of_short_term_variability                    2127 non-null   float64
 11  percentage_of_time_with_abnormal_long_term_variability  2127 non-null   int64
 12  mean_value_of_long_term_variability                     2127 non-null   float64
 13  histogram_width                                         2127 non-null   int64
 14  histogram_min                                           2127 non-null   int64
 15  histogram_max                                           2127 non-null   int64
 16  histogram_number_of_peaks                               2127 non-null   int64
 17  histogram_number_of_zeroes                              2127 non-null   int64
 18  histogram_mode                                          2127 non-null   int64
 19  histogram_mean                                          2127 non-null   int64
 20  histogram_median                                        2127 non-null   int64
 21  histogram_variance                                      2127 non-null   int64
 22  histogram_tendency                                      2127 non-null   int64
 23  sex                                                     2127 non-null   object
 24  agetype                                                 2127 non-null   object
 25  reside_type                                             2127 non-null   object
 26  employ                                                  2127 non-null   object
 27  test1                                                   2127 non-null   object
 28  test2                                                   2125 non-null   float64
 29  end_pay_off_flag                                        2127 non-null   int64
dtypes: float64(9), int64(14), object(7)
memory usage: 498.6+ KB

In [17]:
'''
# 定义查找缺失变量函数，返回 缺失值率> 指定缺失率(narate) 的列表
'''
def filter_col_by_nan(data, narate=0.2):
    '''
    :param data: 查找数据集
    :param narate: 设定变量的缺失值率，默认20%
    :return: 返回 缺失率>narate的变量名称列表
    '''
    n_samples = data.shape[0]
    list_nan_cols = []
    for col in data.columns:
        if data[col].isna().sum() / n_samples >= (narate):
            list_nan_cols.append(col)

    print(f'缺失量在{narate * 100}%以上的变量有:{list_nan_cols}')

    return list_nan_cols


list_nullfactor_todrop = filter_col_by_nan(df_all, narate=0.2)

df_select = df_all.drop(list_nullfactor_todrop, axis=1).copy()
'''
axis=1指定了操作的轴。在Pandas中，axis=0代表行操作，而axis=1代表列操作。因此，这里的axis=1意味着我们想要删除列而不是行。
.copy()：在删除指定列后，copy()函数创建了DataFrame修改版本的一个副本。这是一个重要的步骤，因为它确保了原始的df_all DataFrame不会被修改。创建一个副本意味着后续对新DataFramedf_select的任何修改都不会影响原始的df_all DataFrame。
'''
df_select

缺失量在20.0%以上的变量有:['accelerations']

,cus_no,loan_rct_end_date,baseline value,fetal_movement,uterine_contractions,light_decelerations,severe_decelerations,prolongued_decelerations,abnormal_short_term_variability,mean_value_of_short_term_variability,...,histogram_median,histogram_variance,histogram_tendency,sex,agetype,reside_type,employ,test1,test2,end_pay_off_flag
0,c_001,2022/4/9,120,0.00,0.00,0.00,0.00,0.00,73,0.50,...,121,73,1,woman,old,B,y,0.39301804,0.64,1
1,c_002,2022/4/25,132,0.00,0.01,0.00,0.00,0.00,17,2.10,...,140,12,0,woman,old,C,n,0.245573059,0.19,0
2,c_003,2022/4/27,133,0.00,NaN,0.00,0.00,0.00,16,2.10,...,138,13,0,woman,yong,C,y,0.126393521,0.55,0
3,c_004,2022/3/31,134,0.00,0.01,0.00,0.00,0.00,16,2.40,...,137,13,1,woman,old,B,n,0.860977844,0.62,0
4,c_005,2022/4/22,132,0.00,0.01,0.00,0.00,0.00,16,2.40,...,138,11,1,man,old,A,n,0.803580572,0.36,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,c_2123,2022/3/27,140,0.00,0.01,0.00,0.00,0.00,78,0.40,...,151,3,1,man,Middle-aged,D,n,0.800221878,0.60,1
2123,c_2124,2022/4/24,140,0.00,0.01,0.00,0.00,0.00,79,0.40,...,152,4,1,man,old,B,n,0.068765741,0.55,1
2124,c_2125,2022/3/23,140,0.00,0.01,0.00,0.00,0.00,78,0.40,...,151,4,1,man,yong,D,n,unknown,0.42,1
2125,c_2126,2022/4/4,142,0.00,0.01,0.00,0.00,0.00,74,0.40,...,145,1,0,man,yong,D,n,0.942651508,0.92,0
2126,c_2127,2022/5/12,142,0.00,0.01,0.00,0.00,0.00,74,0.40,...,145,1,0,man,yong,D,n,Na,0.92,0

In [18]:
list_factor_todrop = ['cus_no','loan_rct_end_date'] #不需要变量列表

df_select.drop(list_factor_todrop, axis=1, inplace=True) 

df_select

,baseline value,fetal_movement,uterine_contractions,light_decelerations,severe_decelerations,prolongued_decelerations,abnormal_short_term_variability,mean_value_of_short_term_variability,percentage_of_time_with_abnormal_long_term_variability,mean_value_of_long_term_variability,...,histogram_median,histogram_variance,histogram_tendency,sex,agetype,reside_type,employ,test1,test2,end_pay_off_flag
0,120,0.00,0.00,0.00,0.00,0.00,73,0.50,43,2.40,...,121,73,1,woman,old,B,y,0.39301804,0.64,1
1,132,0.00,0.01,0.00,0.00,0.00,17,2.10,0,10.40,...,140,12,0,woman,old,C,n,0.245573059,0.19,0
2,133,0.00,NaN,0.00,0.00,0.00,16,2.10,0,13.40,...,138,13,0,woman,yong,C,y,0.126393521,0.55,0
3,134,0.00,0.01,0.00,0.00,0.00,16,2.40,0,23.00,...,137,13,1,woman,old,B,n,0.860977844,0.62,0
4,132,0.00,0.01,0.00,0.00,0.00,16,2.40,0,19.90,...,138,11,1,man,old,A,n,0.803580572,0.36,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2122,140,0.00,0.01,0.00,0.00,0.00,78,0.40,22,7.10,...,151,3,1,man,Middle-aged,D,n,0.800221878,0.60,1
2123,140,0.00,0.01,0.00,0.00,0.00,79,0.40,20,6.10,...,152,4,1,man,old,B,n,0.068765741,0.55,1
2124,140,0.00,0.01,0.00,0.00,0.00,78,0.40,27,7.00,...,151,4,1,man,yong,D,n,unknown,0.42,1
2125,142,0.00,0.01,0.00,0.00,0.00,74,0.40,36,5.00,...,145,1,0,man,yong,D,n,0.942651508,0.92,0
2126,142,0.00,0.01,0.00,0.00,0.00,74,0.40,36,5.00,...,145,1,0,man,yong,D,n,Na,0.92,0

In [19]:
# 定义函数，返回离散型函数变量名列表, 并查看映射值数量情况
def get_objectfac_list(data ,print_value=False): 
    lt_discrete = []
    for col in data.columns:
        if str(data[col].dtype) == 'object':
            lt_discrete.append(col)
            if print_value == True:
                print(data[col].value_counts())
                # 50个 *
                print(f'-' * 50)
    return lt_discrete


list_discrete = get_objectfac_list(df_select,True)

# 情况3，删除离散型变量，有空值的行
df_select.dropna(subset=list_discrete, axis=0,inplace=True)
df_select.reset_index(drop=True, inplace=True)

sex
woman    1075
man      1037
media      15
Name: count, dtype: int64
--------------------------------------------------
agetype
old            749
Middle-aged    697
yong           681
Name: count, dtype: int64
--------------------------------------------------
reside_type
C    556
D    551
A    522
B    498
Name: count, dtype: int64
--------------------------------------------------
employ
y    1069
n    1058
Name: count, dtype: int64
--------------------------------------------------
test1
Na             4
0.39301804     1
0.444104315    1
0.237617981    1
0.090933944    1
              ..
0.4741229      1
0.674967331    1
0.975020908    1
0.091105301    1
0.942651508    1
Name: count, Length: 2124, dtype: int64
--------------------------------------------------

In [20]:
# 定义查找数值型类型函数
def is_numeric(value):
    try:
        # 尝试将字符串转换为浮点数
        float(value)
        return True
    except ValueError:
        # 如果转换失败，则说明字符串不是一个数值
        return False

# 定义查找连续型变量是否有字符串情况存在函数
def find_str_innum(data):
    '''
    通过检查传入数据集中object类型的变量，统计字符串str_sum数量 以及 浮点数/整数 int_num数量
    :param data: 传入需要检查的数据
    :return:object类型变量，数值型和字符串统计表格。object_facname变量名，sample_num样本量，str_num文本数据量
    '''
    df_find_str_innum = pd.DataFrame(columns=['object_facname', 'sample_num', 'str_sum', 'float/int_sum', 'str_detail'])
    num_index = 0
    for col in data.columns:
        # 只要不全是数值，col类型就为object
        if str(data[col].dtype) == 'object':
            n_samples = data[col].shape[0]
            sum_str = 0
            sum_numeric = 0
            list_detail = []

            for turple in data[col]:
                if is_numeric(turple):
                    sum_numeric += 1
                else:
                    sum_str += 1
                    list_detail.append(turple)

            if n_samples != sum_str:
                # 去除重复
                list_detail = np.unique(list_detail)
                str_detail = ','.join(list_detail)
            else:
                str_detail = ''

            df_find_str_innum.loc[num_index] = [col, n_samples, sum_str, sum_numeric] + [str_detail]
            num_index += 1

    return df_find_str_innum
            
df_find_str_innum = find_str_innum(df_select)
df_find_str_innum

  object_facname  sample_num  str_sum  float/int_sum  str_detail
0            sex        2127     2127              0
1        agetype        2127     2127              0
2    reside_type        2127     2127              0
3         employ        2127     2127              0
4          test1        2127        5           2122  Na,unknown

In [21]:
df_select.drop(df_select[(df_select['test1'] == 'Na') |(df_select['test1'] == 'unknown')].index, inplace=True)
df_select.reset_index(drop=True, inplace=True) # 恢复索引
df_select

,baseline value,fetal_movement,uterine_contractions,light_decelerations,severe_decelerations,prolongued_decelerations,abnormal_short_term_variability,mean_value_of_short_term_variability,percentage_of_time_with_abnormal_long_term_variability,mean_value_of_long_term_variability,...,histogram_median,histogram_variance,histogram_tendency,sex,agetype,reside_type,employ,test1,test2,end_pay_off_flag
0,120,0.00,0.00,0.00,0.00,0.00,73,0.50,43,2.40,...,121,73,1,woman,old,B,y,0.39301804,0.64,1
1,132,0.00,0.01,0.00,0.00,0.00,17,2.10,0,10.40,...,140,12,0,woman,old,C,n,0.245573059,0.19,0
2,133,0.00,NaN,0.00,0.00,0.00,16,2.10,0,13.40,...,138,13,0,woman,yong,C,y,0.126393521,0.55,0
3,134,0.00,0.01,0.00,0.00,0.00,16,2.40,0,23.00,...,137,13,1,woman,old,B,n,0.860977844,0.62,0
4,132,0.00,0.01,0.00,0.00,0.00,16,2.40,0,19.90,...,138,11,1,man,old,A,n,0.803580572,0.36,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2117,140,0.00,0.01,0.00,0.00,0.00,77,0.70,17,6.00,...,145,2,0,man,Middle-aged,D,n,0.271713259,0.75,0
2118,140,0.00,0.01,0.00,0.00,0.00,79,0.20,25,7.20,...,152,2,0,woman,old,B,n,0.058447396,0.91,1
2119,140,0.00,0.01,0.00,0.00,0.00,78,0.40,22,7.10,...,151,3,1,man,Middle-aged,D,n,0.800221878,0.60,1
2120,140,0.00,0.01,0.00,0.00,0.00,79,0.40,20,6.10,...,152,4,1,man,old,B,n,0.068765741,0.55,1
2121,142,0.00,0.01,0.00,0.00,0.00,74,0.40,36,5.00,...,145,1,0,man,yong,D,n,0.942651508,0.92,0

In [22]:
# object 转换为float类型 
def obj_transform(df, columns, transtype):
    """
    转换DataFrame中一列或多列的数据类型。
    
    参数:
    - df: 要操作的DataFrame。
    - columns: 需要转换的列名列表。
    - transtype: 指定的转换类型。'obj_tofloat'表示将对象类型转换为浮点数。
    
    返回:
    - 修改后的DataFrame（原地修改）。
    """
    if transtype == 'float':
        for col in columns:
            # 使用pd.to_numeric()尝试转换为浮点数，errors='coerce'将无法转换的值设置为NaN
            df[col] = pd.to_numeric(df[col], errors='coerce')
    return df


# 调用函数
df_select = obj_transform(df_select, ['test1'], transtype='float')

df_select.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2122 entries, 0 to 2121
Data columns (total 27 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   baseline value                                          2122 non-null   int64
 1   fetal_movement                                          2122 non-null   float64
 2   uterine_contractions                                    2121 non-null   float64
 3   light_decelerations                                     2122 non-null   float64
 4   severe_decelerations                                    2122 non-null   float64
 5   prolongued_decelerations                                2122 non-null   float64
 6   abnormal_short_term_variability                         2122 non-null   int64
 7   mean_value_of_short_term_variability                    2122 non-null   float64
 8   percentage_of_time_with_abnormal_long_term_variability  2122 non-null   int64
 9   mean_value_of_long_term_variability                     2122 non-null   float64
 10  histogram_width                                         2122 non-null   int64
 11  histogram_min                                           2122 non-null   int64
 12  histogram_max                                           2122 non-null   int64
 13  histogram_number_of_peaks                               2122 non-null   int64
 14  histogram_number_of_zeroes                              2122 non-null   int64
 15  histogram_mode                                          2122 non-null   int64
 16  histogram_mean                                          2122 non-null   int64
 17  histogram_median                                        2122 non-null   int64
 18  histogram_variance                                      2122 non-null   int64
 19  histogram_tendency                                      2122 non-null   int64
 20  sex                                                     2122 non-null   object
 21  agetype                                                 2122 non-null   object
 22  reside_type                                             2122 non-null   object
 23  employ                                                  2122 non-null   object
 24  test1                                                   2122 non-null   float64
 25  test2                                                   2120 non-null   float64
 26  end_pay_off_flag                                        2122 non-null   int64
dtypes: float64(9), int64(14), object(4)
memory usage: 447.7+ KB

In [23]:
# 需要对数据进行划分

# ① 取数值、连续类型的数据
list_train_num = ['baseline value','fetal_movement','uterine_contractions','light_decelerations',
                  'severe_decelerations','prolongued_decelerations','abnormal_short_term_variability',
                  'mean_value_of_short_term_variability','percentage_of_time_with_abnormal_long_term_variability',
                  'mean_value_of_long_term_variability','histogram_width',
                  'histogram_min','histogram_max','histogram_number_of_peaks','histogram_number_of_zeroes',
                  'histogram_mode','histogram_mean','histogram_median','histogram_variance',
                  'histogram_tendency','sex','agetype','reside_type',
                  'employ','test1','test2']

# ②取文本/离散、无需独热编码 类型的数据（类似 住宅类型、就业类型 等字段）
list_train_str = ['sex','employ']

# ③取文本/离散、需 独热编码 类型的数据（类似 教育水平分类 等变量）
list_train_str_needtrf = ['reside_type','agetype']

# 查看训练集空值情况（此时只剩数值型空值，其他类型的数据都被处理了）
df_select[df_select.isnull().any(axis=1)].head()

,baseline value,fetal_movement,uterine_contractions,light_decelerations,severe_decelerations,prolongued_decelerations,abnormal_short_term_variability,mean_value_of_short_term_variability,percentage_of_time_with_abnormal_long_term_variability,mean_value_of_long_term_variability,...,histogram_median,histogram_variance,histogram_tendency,sex,agetype,reside_type,employ,test1,test2,end_pay_off_flag
2,133,0.00,NaN,0.00,0.00,0.00,16,2.10,0,13.40,...,138,13,0,woman,yong,C,y,0.13,0.55,0
1066,133,0.00,0.01,0.01,0.00,0.00,17,2.40,0,2.10,...,138,61,0,woman,yong,C,n,0.94,NaN,0
1086,122,0.00,0.00,0.00,0.00,0.00,27,1.30,0,9.30,...,126,1,0,woman,old,C,n,0.90,NaN,0

In [24]:
# 数据清洗函数定义
from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.utils import check_array
from scipy import sparse

class CategoricalEncoder(BaseEstimator, TransformerMixin):
    """
    将分类特征编码为数字数组。
    此函数输入 分类的整数矩阵 或 字符串矩阵,
    将把分类（离散）特征所具有的值转化为数组
    """

    def __init__(self, encoding='onehot', categories='auto', dtype=np.float64,
                 handle_unknown='error'):
        self.encoding = encoding
        self.categories = categories
        self.dtype = dtype
        self.handle_unknown = handle_unknown

    def fit(self, X, y=None):
        """Fit the CategoricalEncoder to X.
        Parameters
        ----------
        X : array-like, shape [n_samples, n_feature]
            The data to determine the categories of each feature.
        Returns
        -------
        self
        """
        
        # 报错预警
        if self.encoding not in ['onehot', 'onehot-dense', 'ordinal']:
            template = ("encoding should be either 'onehot', 'onehot-dense' "
                        "or 'ordinal', got %s")
            raise ValueError(template % self.handle_unknown)

        if self.handle_unknown not in ['error', 'ignore']:
            template = ("handle_unknown should be either 'error' or "
                        "'ignore', got %s")
            raise ValueError(template % self.handle_unknown)

        if self.encoding == 'ordinal' and self.handle_unknown == 'ignore':
            raise ValueError("handle_unknown='ignore' is not supported for"
                             " encoding='ordinal'")

        X = check_array(X, dtype=np.object, accept_sparse='csc', copy=True)
        n_samples, n_features = X.shape # n_samples 样本数，n_features 特征数

        self._label_encoders_ = [LabelEncoder() for n_f in range(n_features)]

        for i in range(n_features):
            le = self._label_encoders_[i]
            Xi = X[:, i]
            if self.categories == 'auto':
                le.fit(Xi)
            else:
                valid_mask = np.in1d(Xi, self.categories[i])
                if not np.all(valid_mask):
                    if self.handle_unknown == 'error':
                        diff = np.unique(Xi[~valid_mask])
                        msg = ("Found unknown categories {0} in column {1}"
                               " during fit".format(diff, i))
                        raise ValueError(msg)
                le.classes_ = np.array(np.sort(self.categories[i]))

        self.categories_ = [le.classes_ for le in self._label_encoders_]

        return self

    def transform(self, X):
        """Transform X using one-hot encoding.
        Parameters
        ----------
        X : array-like, shape [n_samples, n_features]
            The data to encode.
        Returns
        -------
        X_out : sparse matrix or a 2-d array
            Transformed input.
        """
        X = check_array(X, accept_sparse='csc', dtype=np.object, copy=True)
        n_samples, n_features = X.shape

        
        X_int = np.zeros_like(X, dtype=np.int) # 构建一个和 X 维度相同的(一毛一样)  整数零矩阵
        X_mask = np.ones_like(X, dtype=np.bool) # 构建一个和 X 维度相同的(一毛一样)   布尔矩阵

        for i in range(n_features): # 对每个变量开始循环
            valid_mask = np.in1d(X[:, i], self.categories_[i]) # 每个变量的每一行，去验证是否是是此变量unqiue中的一个，是返回True
            
            if not np.all(valid_mask):
                if self.handle_unknown == 'error':
                    diff = np.unique(X[~valid_mask, i])
                    msg = ("Found unknown categories {0} in column {1}"
                           " during transform".format(diff, i))
                    raise ValueError(msg)
                else:
                    # Set the problematic rows to an acceptable value and
                    # continue `The rows are marked `X_mask` and will be
                    # removed later.
                    X_mask[:, i] = valid_mask # unique矩阵赋予X_mask
                    X[:, i][~valid_mask] = self.categories_[i][0]
            X_int[:, i] = self._label_encoders_[i].transform(X[:, i])

        if self.encoding == 'ordinal':
            return X_int.astype(self.dtype, copy=False)

        mask = X_mask.ravel() # .ravel()将矩阵向量化

        n_values = [cats.shape[0] for cats in self.categories_]

        n_values = np.array([0] + n_values)
        indices = np.cumsum(n_values)

        column_indices = (X_int + indices[:-1]).ravel()[mask] # 找到该变量某个离散值中的所有的列索引
        row_indices = np.repeat(np.arange(n_samples, dtype=np.int32),
                                n_features)[mask]
        data = np.ones(n_samples * n_features)[mask]

        
        out = sparse.csc_matrix((data, (row_indices, column_indices)),
                                shape=(n_samples, indices[-1]),
                                dtype=self.dtype).tocsr()
        # out = out[:,1:] # 这里为one_hot,如果要转换成哑变量需要将状态进行k-1删除，防止虚拟陷阱！
        if self.encoding == 'onehot-dense':
            return out.toarray()
        else:
            return out